/* Reset básico y colores */
:root {
  --background: #929292;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dddddd;
    --foreground: #353535;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(184, 184, 184);
  color: rgb(32, 32, 32);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif; /* fuente básica */
}

a {
  text-decoration: none;
  color: inherit;
}

/* Cards y footer */
.card {
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: #7c7c7c;
  color: #ffffff;
  text-shadow: 1px 1px 10px #363636;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

footer {
  background-color: #858585;
  color: #6c757d;
  text-align: center;
  padding: 1.5rem 0;
}

/* Main Layout */
main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  .card {
    box-shadow: 0 2px 6px rgba(202, 202, 202, 0.05);
  }
}
